/public/.env
/vendor
/.idea


DAH8QjCywPPAnkgqaUXO72s/tANvDdLrKiui3WOQwvu8jWGaui0y87XcxFDfmEsf
YcXJn356KAFbF3S+I0aGK9PyLLnG0jiA4W8F0yanz4D8o8bHa8Xrv5q6U9GSpFkF
-----BEGIN RSA PRIVATE KEY-----
MIIJKAIBAAKCAgEAvmFDZx8jjph60U7sca9ZPJWCUe4gGWxpgiU0BfaHhNgDv08x
ViJdCkEL36hAK/K5GxEvNk7TChIJVsF1g121FdfuHT0aVuIy61/NT7e0uidsdVyU
5Yd+R4VhEj4ZXVIKXGFwj3sY4eI8AEpGaIVZq66RIdZF6MNdPCW7fiE+TJ9yl4q4
6ApZmMrzTBW3rc7hhaOzCFMJtTzmraDGY+PVfHsE7JdDsSWS0HjGpWU3r6/lV3Hu
u79GDdPW6ff0/IetFUcl3+ZkafKDEuDgAiqPlz/MqKINGuT901G7yno6gb9npqmt
ChZYjJFZ/u1XSfb0tA7CWtnTv/81MZw2G77b1bw+tw41HBVEzgcJ4GNxk9LQzyTH
FCXem9LIUItj7viU6Bmoex68RgAtq+GUqlUULl/4s0JnsE0igJPxQuG16m5/Q3xx
uPPLK0LpOPKSdiC3GH/a1xhUDxaQksEVsQtH2CTde8GyeAcx1NT4kqYI0KePH361
GWGs+X9tSGAFc1MB1wqpDG5mM4RJVGPXNAJ7doL/bdxKZkmU2AL7sn8QMAxvXH2H
YcJVj8i7z+OsJIkmTL4xwpGX6eyVn+qXb9C7qvBMjpdwqT7Gr6ZYcbMz9BvclTUb
dvs9qTnMcp2bKwPHdj36tpIoffvMfeX5yV63q3kKZbokJzXi7WYl0H3qiGMCAwEA
AQKCAgBcZZov70Xzi/93nEVW+5Jku+8u0lJT5HDkkCfKiRbGm4xeChJYyn67Xkxj
9SWH7tp1z4ZJZkI4jf5oU6Yz5oPfoRfYqvIgntG1uJ5NhUw6WK3j29YL/BGGpq4x
C2CGES4kHcpiaIzv/DvArEu1qJqXnzai5HqzeDXE3k877Ohuiag08kfBnlxTspQY
JiYqPdDoakWW0a5Rfsg6FmCS1F2ld5MxPEzHKgQyF5vZY+F96/Fz2kDScAeQ6HJS
xVvqP/L587jnDMtJPEDvJaKyinN8JaOvaE7R8bdbGzz4DRBeLkYg9hKcZbH+LwEt
n4UQycGDrfIX48ZIVZU8iaMdHilUoHQHlLSwv/v1696jZJDUf6hrVkhftUeeK6w9
/tOu+Qu8rxcPrHa6iA8h5c1Jbs4R0JmrAhfHPaPw30kCOJTx9YPZD1VJH2p6gW6+
hyBBSGC8N1EqJYfMtm0cBd/ZEtthzwcXR/7i0pUCAdegnMYAC78b3wNWpMD6ekd8
umkMRYOq1mLc4oOZATisbLXhDtpedzWYJIuAmi3ujroveVL31X9mqxrQMUaO/y/O
htBU5GGzkCWa+pl2MK+Q4wc8RU10IOaXYIxGqDRdDz8tNBchnZLmrq7mNaPH9UJe
UAlN3+RIl3eYFx60g5dau3NLZrGxH8NBOMBJOW83N0swUAawqQKCAQEA72vx8KDW
8Nnm2QdPybuqSIPcPjYiaVARxyiN6O0DnryyQJakqRqeiuRW/OALwokGopVoMkHg
UzkMdOtu+GEmzn7gU9/eoMZie0lFuXavFssQThJ+RfPKZEFP+9rFH9NWMbj6Y5kx
9qdKxQhkvylZKLNfRfHsjfIlHPsNHu6bPxXuLusr2NsHvtin5gjMBgEaY+hGaUWz
iLbwJ8uceDkGFrWPri7QsnYlVuL22apRB5efCTcfBbEulE8QCZvYR3leUO+OotdQ
L7BSZW0CZSqZP5rmIirFE7eQ2as6iKY1vLJNiL9Iba0p9Yv9tv1FFwGutWpUfpDO
pjGEcwHo1VekZwKCAQEAy4/9rs4OEZYZr4nsUepx0HG9H2hGawW+Gd3dkpI82kkZ
8/xuNeZdVTEKnSkapeVyZIcvUEnLdSZWMeO2x23nSM4em4pXAbUcxmxugv7xv03G
2yEBh50SuKc+brF6HaBFLhMogs6JUIEaBxqVWsZpwjtEGJtWa9N/HcCPUGY8yOKs
0uglY1tqMGyIGdMoHXtKeXFiK5tC22gX3lY+GKgJ1Zom3ns8xNaReWHP6kPLXw53
ODN+JKzZMAjuAoMUJb2wI8/2hX3eVsR7/G7GfAgBUI3J8YB7pyKy7mzlGR79Ar/O
8c3SGYNjRBcIMosrl+PE2OcOOwYw2A/cx8FeqZqepQKCAQA/lZ5qdny++E/LoZp6
DAH8QjCywPPAnkgqaUXO72s/tANvDdLrKiui3WOQwvu8jWGaui0y87XcxFDfmEsf
YcXJn356KAFbF3S+I0aGK9PyLLnG0jiA4W8F0yanz4D8o8bHa8Xrv5q6U9GSpFkF
P7jzCzgpPkfBpuZeXPouFdZbGbro8QHzFLBo6eclO37btV1J3T0d5in5DASZvQRw
FUzdqRhgfQRl8OSXv60pP4dHieftrZrqixTAxIKQ2rfEu6HlwslRy/b6w0wOrbWu
InMSplOqDUvLobuxYz0nX2T0GTJoN8zHe+6hzKzz9S1tH8BDY9rOxixrjMkNNhuc
1SrPAoIBADK04odZsq10y18rpx9cnA9FVcvuCKR+ILWGy7vIC7qAPSPGvJlWkec3
uSIe7BFpD061UfbY+wJqk0wIIi6ZVOSQ25T5J+U3/Tv8JKci5Is3z5IkLaJfYRt4
JZgjQ3z/wFvSz+ONmSzhi987Ivsis5N7eeH7R9LCM0bxAYIQhZGwzUYYJ8ARNGlt
j5WHQNXfMVUBBmhAW64VxuRObVds/E4mAQqofiG2JTSsRcNgMdey3cW1JfXyzIMn
pkof5rPkBW1WT10/VlQcy5m86lpZECLFvwkWbTbb8OBtZcAVNQcrSlx3XZ+XV/HN
HvCgNDK4vP8exy+ywhYAFYn4xCDRcDUCggEBAIQN/ZjsUmjnTRo6qbV5DB2+dPSi
swOetwGKWaoZRGOaRa8HhYO1R7YyOLP2RChh2ckZULYZU93kWU37H973II4DIbz2
xvfvzqFDgnHqZSvDZqrySHCUWUJTdVkEr18qfXwWS/YghwdzH6quB7LOyFAvYT0d
sjerE0ySktK5ESshczuhYCazYqkVFQdZL8hSmWkCM7lGxlSuen2jn7k1eHzR/0h4
GywUOJsl9KSB6A0AVNG4rNaEr6qco/qONP+WJ7MT07LogdEJipsGViM97MwAN8Pk
aNLSSh66AdNPsoBnv07cTqEEsuUjIPJYwI8viOAIF16AAe84r7/MP5UJbw8=
-----END RSA PRIVATE KEY-----
